[default]
aws_access_key_id = 
aws_secret_access_key = 
[accord]
aws_access_key_id = 
aws_secret_access_key = 
[hotmail]
aws_access_key_id = 
aws_secret_access_key = 
{% for profile_name in aws_profiles %}
[{{profile_name}}]
aws_access_key_id = 
aws_secret_access_key = 
{% endfor %}